body {
    margin: 0;
    padding: 0;
    padding-top: 56px;
    background-color: #222d52;
    background-image: url(./Images/backgroundIdea1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #FDFFFF;
    font-family: 'Roboto', sans-serif;
}

/* Nav Settings */
.nav-link {
    color: #FDFFFF;
}

.navbar-custom {background-color: black;}

.nav-item:hover {
    background-color: #222d52;
    border-radius: 10px;
}

.nav-link:hover {
    color: #D2B68A;
}

/* Header Settings */
h1 {
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
}

#period {color: #D2B68A;}

/* Skills Section Settings */
.skills-container {
    /* background-color: rgba(44, 44, 44, 0.788); */
    border-radius: 10px;
    margin: 50px;
    padding: 50px;
}

.icon {
    width: 50px;
}

/* Demo Reel Settings */
#demo-reel {
    margin-top: 25px;
    margin-bottom: 75px;
}

.overview {
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
    left: 0;
}

.aspect-ratio-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}